{% load static %}
<!doctype html>
<html lang="en">

<!-- 02_01_about.html  [XR&CO'2014], Tue, 22 Oct 2019 11:54:52 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Layole</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'plugin/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/bootstrap/css/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/poppins/poppins.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/fonts/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/jquery-ui/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/process-bar/tox-progress.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/owl-carouse/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/owl-carouse/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/animsition/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/jquery-ui/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/mediaelement/mediaelementplayer.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/datetimepicker/bootstrap-datepicker3.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/datetimepicker/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/lightgallery/lightgallery.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'css/media.css' %}"> {% endcomment %}
</head>
<body>



<!-- Mobile nav -->
<nav class="visible-sm visible-xs mobile-menu-container mobile-nav">
    <div class="menu-mobile-nav navbar-toggle">
        <span class="icon-bar"><i class="fa fa-bars" aria-hidden="true"></i></span>
    </div>
    <div id="cssmenu" class="animated">
        <div class="uni-icons-close">
			<i class="fa fa-times" aria-hidden="true"></i>
		</div>
        <ul class="nav navbar-nav animated">
            <li><a href="/">Home</a></li>
            <li class="has-sub"><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
            <li><a href="/services">Services</a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
</nav>
<!-- End mobile menu -->

<div class="uni-about">
    <div id="wrapper-container" class="site-wrapper-container">
        <header>
            <div class="uni-medicare-header sticky-menu">
                <div class="container">
                    <div class="uni-medicare-header-main">
                        <div class="row">
                            <div class="col-md-2">
                                <!--LOGO-->
                                <div class="wrapper-logo">
                                    <a class="logo-default" href="/"><img src="{% static 'images/logo.png' %}" alt="" class="img-responsive"></a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <!--MENU TEXT-->
                                <div class="uni-main-menu">
                                    <nav class="main-navigation uni-menu-text">
                                        <div class="cssmenu">
                                            <ul>
                                                <li><a href="/">Home</a></li>
												<li class="has-sub"><a href="/about">About</a></li>
                                                <li><a href="/contact">Contact</a></li>
                                                <li><a href="/services">Services</a></li>
                                            </ul>
                                        </div>
                                    </nav>
                                </div>

                                <!--SEARCH AND APPOINTMENT-->
                                <div class="uni-search-appointment">
                                    <ul>

                                        <li class="uni-btn-appointment">
                                            <a href="/">Appointment</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--FORM SEARCH-->
                        <div class="uni-form-search-header">
                            <div class="box-search-header collapse" id="box-search-header">
                                <div class="uni-input-group">
                                    <input type="text" name="key" placeholder="Search" class="form-control">
                                    <button class="uni-btn btn-search">
                                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div id="main-content" class="site-main-content">
            <section class="site-content-area">

                <div class="uni-banner-default uni-background-1">
                    <div class="container">
                        <!-- Page title -->
                        <div class="page-title">
                            <div class="page-title-inner">
                                <h1>about</h1>
                            </div>
                        </div>
                        <!-- End page title -->

                        <!-- Breadcrumbs -->
                        <ul class="breadcrumbs">
                            <li><a href="/">home</a></li>
                        </ul>
                        <!-- End breadcrumbs -->
                    </div>
                </div>

                <div class="uni-about-body">

                    <!--WHO WE ARE-->
                    <div class="uni-about-who-are-you">
                        <div class="container">
                            <div class="uni-services-title">
                                <h3>who we are?</h3>
                                <div class="uni-underline"></div>
                            </div>
                            <div class="row">
								<div class="col-md-6">
                                    <div class="uni-about-who-are-you-right">
                                        <p>Operating around the clock, Layole hospital is home to a team of exceptionally skilled doctors, registered nurses, laboratory scientists, and other dedicated team members committed to ensuring optimal patient care. <br> Nestled at the prestigioourus address mentioned, our state-of-the-art facilities include:</p>
										<ul>
                                            <li>Luxurious patient waiting lounges</li>
                                            <li>Elegant consulting rooms</li>
                                            <li>Well-appointed private wards</li>
                                            <li>Comfortable general wards</li>
                                            <li>Thoughtfully designed male and female wards</li>
                                            <li>Efficient nurse stations</li>
                                            <li>Sophisticated dispensary unit</li>
											<li>A 24-hour standby power supply with controlled air conditioning ensures reliable backup power.</li>
                                        </ul>
										<h4>In addition to our comprehensive medical services, we feature distinguished consultants specializing in various fields:</h4>
										<ul>
											<li>Obstetrics and Gynaecology</li>
											<li>Consultants</li>
											<li>General Surgeons</li>
											<li>Paediatric care</li>
											<li>Internal Medicine</li>
											<li>Orthopedic Surgeons</li>
										</ul>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="uni-about-who-are-you-left">
                                        <img src="{% static 'images/ceo.jpeg' %}" alt="" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="uni-about-who-are-you-right">
                                        <p>
                                            Layole and Sons Hospital Limited stands as a prestigious private healthcare institution, meticulously registered under the Corporate Affairs Commission and accredited by the Health Facility Monitoring and Accreditation Agency (HF). Our journey commenced on May 1, 2008, and since inception, we have embodied a steadfast dedication to excellence in delivering top-tier healthcare services.
                                        </p>
                                        <p>Furthermore, we proudly offer physiotherapy services as part of our comprehensive restorative and rehabilitative care systems.
											At Layole and Sons Hospital Limited, our unwavering commitment is to provide an environment conducive to healing and healthcare excellence. Your well-being takes precedence, and we eagerly anticipate the opportunity to serve you with the utmost professionalism and expertise.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--ICONS BOX 3-->
                    <div class="uni-shortcode-icons-box-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="uni-shortcode-icons-box-3-default">
                                        <div class="item-icons">
                                            <i class="fa fa-user-md" aria-hidden="true"></i>
                                        </div>
                                        <div class="item-caption">
                                            <h4>Qualified Doctors and Nurses</h4>
                                            <div class="uni-line"></div>
                                            <p>
                                                Where quality care meets compassion, dedicated to nurturing little lives.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="uni-shortcode-icons-box-3-default">
                                        <div class="item-icons">
                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        </div>
                                        <div class="item-caption">
                                            <h4>
                                                24 hours service
                                            </h4>
                                            <div class="uni-line"></div>
                                            <p>
                                                24/7 care for you our patients with urgent Medical needs. Providing peace of mind with prompt and expert emergency care.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="uni-shortcode-icons-box-3-default">
                                        <div class="item-icons">
                                            <i class="fa fa-hospital-o" aria-hidden="true"></i>
                                        </div>
                                        <div class="item-caption">
                                            <h4>
                                                modern equipment
                                            </h4>
                                            <div class="uni-line"></div>
                                            <p>
                                                Advanced diagnostics testing for accurate and timely results, Committed to using the latest technology to provide exceptional care.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="uni-shortcode-icons-box-3-default">
                                        <div class="item-icons">
                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                        </div>
                                        <div class="item-caption">
                                            <h4>
                                                conscientious Doctors and Nurses
                                            </h4>
                                            <div class="uni-line"></div>
                                            <p>
                                                Doctors who demonstrate a strong sense of duty, responsibility, and ethical conduct in their practice of medicine. They are dedicated to providing the best possible care for their patients, prioritizing their well-being above all else.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="uni-shortcode-icons-box-3-default">
                                        <div class="item-icons">
                                            <i class="fa fa-ambulance" aria-hidden="true"></i>
                                        </div>
                                        <div class="item-caption">
                                            <h4>
                                                call in 24hrs at all times.
                                            </h4>
                                            <div class="uni-line"></div>
                                            <p>
                                                Effective response to call at all time.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="uni-shortcode-icons-box-3-default">
                                        <div class="item-icons">
                                            <i class="fa fa-commenting" aria-hidden="true"></i>
                                        </div>
                                        <div class="item-caption">
                                            <h4>
                                                enthusiastic support
                                            </h4>
                                            <div class="uni-line"></div>
                                            <p>
                                                Providing encouragement, assistance, and advocacy with genuine excitement and positivity.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--DEPARTMENT, TESTIMONIAL, OPNING HOURES-->
                    <div class="uni-services-de-test-hours">
                        <div class="container">
                            <div class="row">
                                <!--DEPARTMENTS-->
                                <div class="col-md-4">
                                    <div class="uni-services-department">
                                        
                                    </div>
                                </div>

                                <!--OPENING HOURS-->
                                <div class="col-md-4">
                                    <div class="uni-services-opinging-hours">
                                        <div class="uni-services-opinging-hours-title">
                                            <div class="icon">
                                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                            </div>
                                            <h4>opening hours</h4>
                                        </div>
                                        <div class="uni-services-opinging-hours-content">
                                            <table class="table">
                                                <tr>
                                                    <td>Monday - Sunday</td>
                                                    <td>24Hrs Services</td>
                                                </tr>
                                            </table>
                                            <a href="/" class="book-appointment">Book appointments</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>

        <footer class="site-footer footer-default">
            <div class="footer-main-content">
                <div class="container">
                    <div class="row">
                        <div class="footer-main-content-elements">
                            <div class="footer-main-content-element col-md-3 col-sm-6">
                                <aside class="widget">
                                    <div class="widget-title uni-uppercase"><a href="#"><img src="{% static 'images/logo.png' %}" alt="" class="img-responsive"></a></div>
                                    <div class="widget-content">
                                        <p>
                                            Experience healthcare reimagined, Personalized care delivered in a state-of-the-art facility. Welcoming you to the future of healthcare, Where comfort meets cutting-edge technology. Step into the future of medicine where our revolutionary facility sets a new standard. Where healing meets the innovations that discovers a healthcare environment unlike any other.
                                        </p>
                                        <div class="uni-info-contact">
                                            <ul>
                                                <li> <i class="fa fa-map-marker" aria-hidden="true"></i><br> Oyemekun Street, no 89
													Off College Road, Ifako-Ijaiye, Lagos, Nigeria.
													<br>P.O. Box 2818 Agege, Lagos.</li><hr>
                                                <li><i class="fa fa-phone" aria-hidden="true"></i> <br> +234-7081209617, <br> +234-9067020311</li><hr>
                                                <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <br> layolehospital@yahoo.com, layolesk@yahoo.com</li>
                                            </ul>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                            <div class="footer-main-content-element col-md-3 col-sm-6">
                                <aside class="widget">
                                    <h3 class="widget-title uni-uppercase">quick links</h3>
                                    <div class="widget-content">
                                        <div class="uni-quick-link">
                                            <ul>
                                                <li><a href="/"><span>+</span> Home</a></li>
                                                <li><a href="/about"><span>+</span> about</a></li>
                                                <li><a href="/services"><span>+</span> services</a></li>
                                                <li><a href="/contact"><span>+</span> contact</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                            <div class="footer-main-content-element col-md-3 col-sm-6">
                                <aside class="widget">
                                    <div class="widget-content">
                                        <div class="uni-footer-latest-post">
                                            
                                        </div>
                                    </div>
                                </aside>
                            </div>
                            <div class="footer-main-content-element col-md-3 col-sm-6">
                                <aside class="widget">
                                    <h3 class="widget-title uni-uppercase">News<span>letter</span></h3>
                                    <div class="widget-content">
                                        <div class="uni-footer-newletter">
                                            <form action="" method="post">
												{% csrf_token %}
												<div class="input-group">
													<input type="email" name="email" class="form-control" placeholder="Enter your email">
													<button class="btn btn-sub" type="submit">subscribe</button>
												</div>
											</form>
                                            <div class="uni-social">
                                                <h4>Follow us</h4>
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-area">
                <div class="container">
                    <div class="copyright-content">
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="copyright-text"> <a href="https://github.com/NathanielWatife">devnath</a></p>
                            </div>
                            <div class="col-sm-6">
                                <ul class="copyright-menu">
									<li><a href="#">awosanminathaniel0@gmail.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="{% static 'plugin/jquery/jquery-2.0.2.min.js' %}"></script>
<script src="{% static 'plugin/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'plugin/bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'plugin/process-bar/tox-progress.js' %}"></script>
<script src="{% static 'plugin/waypoint/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'plugin/counterup/jquery.counterup.min.js' %}"></script>
<script src="{% static 'plugin/owl-carouse/owl.carousel.min.js' %}"></script>
<script src="{% static 'plugin/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'plugin/mediaelement/mediaelement-and-player.js' %}"></script>
<script src="{% static 'plugin/masonry/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'plugin/datetimepicker/moment.min.js' %}"></script>
<script src="{% static 'plugin/datetimepicker/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'plugin/datetimepicker/bootstrap-datepicker.tr.min.js' %}"></script>
<script src="{% static 'plugin/datetimepicker/bootstrap-datetimepicker.js' %}"></script>
<script src="{% static 'plugin/datetimepicker/bootstrap-datetimepicker.fr.js' %}"></script>

<script src="{% static 'plugin/lightgallery/picturefill.min.js' %}"></script>
<script src="{% static 'plugin/lightgallery/lightgallery.js' %}"></script>
<script src="{% static 'plugin/lightgallery/lg-pager.js' %}"></script>
<script src="{% static 'plugin/lightgallery/lg-autoplay.js' %}"></script>
<script src="{% static 'plugin/lightgallery/lg-fullscreen.js' %}"></script>
<script src="{% static 'plugin/lightgallery/lg-zoom.js' %}"></script>
<script src="{% static 'plugin/lightgallery/lg-hash.js' %}"></script>
<script src="{% static 'plugin/lightgallery/lg-share.js' %}"></script>
<script src="{% static 'plugin/sticky/jquery.sticky.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>
</body>
</html>